name: CI

on:
  pull_request:
  push:
    branches: [ "master" ]

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      CI_TARGET_FRAMEWORKS: net10.0-windows10.0.19041.0
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.100-rc.1.25451.107

      - name: Install MAUI Windows workload
        run: dotnet workload install maui-windows

      - name: Build (Windows)
        run: dotnet build ClientTracker/ClientTracker.csproj -c Release -f net10.0-windows10.0.19041.0 -p:CI_TARGET_FRAMEWORKS=$env:CI_TARGET_FRAMEWORKS
